<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>online School</title></meta>

   <!--  <link href="css/bootstrap.css" rel="stylesheet"> -->
	<link href="CSS/styles.css" rel="stylesheet"/> 
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet"/> 
	 <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet"/>
     <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'/>
	  
  </head>
  <body>

        <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" ><p style ="color:gray;" id = "userName">    </p> </a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="#">Home</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle = "dropdown" role = "button" aria-haspopup="true" aria-expanded="false" id = "contact">Contact<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Emails</a></li>
                </ul>
			
              </li>
            </ul>
		 <ul class="nav navbar-nav navbar-right">
         <li><a href="#">Setting</a></li>
         <li><a href="#">Sign out</a></li>
         </ul>
          </div>
        </div>
      </nav>
     <nav class="navbar navbar-default"> 
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li  id = "home" ><a href="/createCourse" style= "color: white;">Create Course</a></li>
              <li  id = "home" ><a href="/createGame" style= "color: white;">Create Game</a></li>
			</ul>
	      <div class="navbar-form navbar-right">
            <input id="searchbox" type="text" class="form-control" placeholder="Search..."/>
           </div>
		 </div> 	
	  </nav>
	  <center><p style = "font-family: 'Sniglet', cursive; font-size: 28px;"> CREATE GAME </p></center>
	  <div class ="container">
	   <form name = "FillGame" action ="validateGame" method = "POST">	
		Question header:
		  <input type = "text" th:value ="${question.header}" required = "required" name = "QuesHeader" id = "Header"/>
		  <br /><br /><br />
		   
	   <textarea rows="40" cols="50" th:value = "${question.answer}" name="Answer" form="Code">
                Enter Answer here...</textarea>		  
      	<br /> <br />
		 </div>
		   <input style = "margin-left:-10px;" type = "submit"  name ="cGame" value = "Create Game"/>
	  </form> 
	  </div>
	</body>
</html>
