<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="ISO-8859-1"></meta>
<link href="CSS/style.css" rel="stylesheet"/>
<title>onlineSchool.com</title>
</head>
	
<body>
	
	<div class = "home">
		<h1>  online School </h1>
		<h3 style = " color: blue ; font-size: 22px;"> Learning is fun </h3>
		 
		<p> Create an account </p>
		  <button> <a href = "/register"> Sign up </a> </button>
		<br /><br />
		<div style = "color: grey"> ----------------------------------------- </div>
		<p> Aready have an account </p>
		  <button> <a href = "/login"> Sign in </a> </button>
		  
	  </div>				
			
</body>
</html>