<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="ISO-8859-1"></meta>
<link href="CSS/style.css" rel="stylesheet"/>
<title>onlineSchool.com</title>
</head>
	
<body>
	
	<div class = "container">
		<h1> Sign up </h1>
		
	  <form name = "register"  id = "register" method = "POST" action = "/valid" >
	  	
	    <input type = "text"  value = "" required = "required" name = "username" th:value="${account.username}"  placeholder = "UserName"/> 
		 <br /><br /><br />
	    <input  type = "email" value = ""  required = "required" name = "email" th:value="${account.email}" placeholder = "Email" /> 
	    <br />
	    <p class = "error" th:if="${exist}" th:inline="text"> [[${exist}]] </p>
		<br /><br />
			
	    <input  type = "password" value = "" required = "required" name = "password" th:value="${account.password}" placeholder = "Password" minlength = "8"/> 
		  <br /><br /><br />
	    <input type="date" required = "required" name ="birthday" th:value="${account.birthday}" value="date" />
	    <br /><br /><br />
			
		<select required = "required" id ="Gender" name = "Gender" th:value="${account.gender}">
        <option value="male" >Male</option>
        <option value="female">Female</option>
        </select>&nbsp;&nbsp;
			
	    <select required = "required" id = "Type"  name = "type" >
        <option value="teacher" id = "teacher" onclick = "show()"> Teacher </option>
        <option value="student" id = "student">Student</option>
       </select>  
	    <br /><br /><br />
	    Academic Mail(*teachers):
		<br /><br />
	    <input type="email" name="Academic Mail" />
	    <br /><br />
	  
	    <input type = "submit" value = "Register" name ="Sign up"/>
	  </form>
	  </div>			
</body>
</html>
